{% extends 'iframe/layout.html' %}
{% load static i18n %}
{% block title %}{% trans 'Donation Button' %}{% endblock title %}

{% block extrastyles %}
{% endblock %}

{% block content %}

<div class="app-content content">
  <div class="content-wrapper">
    <form id="button-details" action="." method="POST">
      {% csrf_token %}
      <div class="content-body row">
        {% if not request.user.dismiss_message and request.user.message %}
        <div class="alert alert-dismissable alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true" id="dismiss">&times;</button>
            {{ request.user.message|safe }}
        </div>
        {% endif %}

        <div class="col-12 col-md-6 offset-md-3 text-center" id="donar-card">
            <div class="">
                <div class="card-content collapse show">
                    <div class="text-center card-body">
                        <div class="row clearfix mb-2">
                            <div class="col-12">
                                <img class="verify-image" src="{% static 'pesaify/images/donate_64.png' %}" height="75px" alt="">
                                <h4 class="section-block-header-topic">{{ button.description }}</h4>
                            </div>
                        </div>
                        <div class="input-group input-group-lg">
                          <input type="text" class="form-control" name="donar" placeholder="Donar Name (optional)" id="donar">
                        </div>
                        <a href="#" class="btn btn-outline-primary btn-block mt-2" id="confirm-name">Confirm Name →</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-12 col-md-6 offset-md-3 text-center hidden" id="amount-card">
            <div class="">
                <div class="card-content collapse show">
                    <div class="card-body">
                        <div class="row clearfix mb-2">
                            <a href="#" class="btn btn-outline-success amount-card-dismiss pull-left m-1">←</a>
                            <div class="col-12">
                                <h1 class="amount">{{ button.currency }} {{ button.price|floatformat:7 }}</h1>
                                <input type="hidden" name="amount" id="amount" value="{{ button.price }}">
                            </div>
                        </div>
                        <div class="input-group input-group-lg center-block">
                          <a href="#" class="btn btn-outline-info btn-lg m-1 digit" data-digit="1">1</a>
                          <a href="#" class="btn btn-outline-info btn-lg m-1 digit" data-digit="2">2</a>
                          <a href="#" class="btn btn-outline-info btn-lg m-1 digit" data-digit="3">3</a>
                        </div>
                        <div class="input-group input-group-lg center-block">
                          <a href="#" class="btn btn-outline-info btn-lg m-1 digit" data-digit="4">4</a>
                          <a href="#" class="btn btn-outline-info btn-lg m-1 digit" data-digit="5">5</a>
                          <a href="#" class="btn btn-outline-info btn-lg m-1 digit" data-digit="6">6</a>
                        </div>
                        <div class="input-group input-group-lg center-block">
                          <a href="#" class="btn btn-outline-info btn-lg m-1 digit" data-digit="7">7</a>
                          <a href="#" class="btn btn-outline-info btn-lg m-1 digit" data-digit="8">8</a>
                          <a href="#" class="btn btn-outline-info btn-lg m-1 digit" data-digit="9">9</a>
                        </div>
                        <div class="input-group input-group-lg center-block">
                          <a href="#" class="btn btn-outline-info btn-lg m-1 digit" data-digit="C">C</a>
                          <a href="#" class="btn btn-outline-info btn-lg m-1 digit" data-digit="0">0</a>
                          <a href="#" class="btn btn-outline-info btn-lg m-1 digit" data-digit="00">00</a>
                        </div>
                        <button type="submit"  class="btn btn-primary btn-block" id="donate">Donate Now</button>
                    </div>
                </div>
            </div>
        </div>

      </div>
    </form>
  </div>
</div>


{% endblock %}


{% block scripts %}
    {{ block.super }}
{% endblock %}

{% block onbodyload %}
    {{ block.super }}

    $("#confirm-name").on("click", function(e){
      e.preventDefault();
      $("#amount-card").removeClass("hidden");
      $("#donar-card").addClass("hidden");
    });

    $(".amount-card-dismiss").on("click", function(){
      $("#donar-card").removeClass("hidden");
      $("#amount-card").addClass("hidden");
    });

    var price = {{ button.price|floatformat:7 }};

    $(".digit").on("click", function() {
      if($(this).attr("data-digit").toString() == '00') {
        price *= 100;
      } else {
        if($(this).attr("data-digit").toString() == 'C') {
          price = 0
        } else {
          if(price != 0) price *= 10;

          if(isBitcoin()) {
            price += $(this).attr("data-digit") * .000001;
          } else {
            price += $(this).attr("data-digit") * .01;
          }
        }
      }

      if(isBitcoin()){
        $(".amount").html("{{ button.currency }} "+price.toFixed(6));
        $(".total").html("{{ button.currency }} "+price.toFixed(6) + " + 0%");
        $("#amount").attr("value", price.toFixed(6));
      } else {
        $(".amount").html("{{ button.currency }} "+price.toFixed(2));
        $(".total").html("{{ button.currency }} "+price.toFixed(2) + " + 0%");
        $("#amount").attr("value", price.toFixed(2));
      }
      if(price > 0) {
        $("#donate").removeAttr("disabled");
      } else {
        $("#donate").attr("disabled", "");
      }
    });

    var isBitcoin = function(){
      return false;
    }


{% endblock %}
