{% extends "emails/base-body-html.jinja" %}

{% block body %}
    {% trans full_name=user.get_full_name()  %}
    <p>Hello {{ full_name }}</p>

    <p>You\'ve verified yourself using a backup device on Pesaify. If this wasn\'t you, your account might have been compromised. You need to change your password at once, check your backup phone numbers and generate new backup tokens.</p>

    <p>You can ignore this message if you did not request.</p>
    <p><small>We look forward to serving you</small></p>
    <p><small>Pesaify Team</small></p>
    {% endtrans %}
{% endblock %}
