{% trans name=user.business.legal_name, url=resolve_url("pesaify-invoice-email", bill.uuid) %}
Bill from {{ name }}

You've received a bill from {{ name }}. You can view and pay this bill by following the link below.

{{ url }}

You can ignore this message if you did not request.

---
We look forward to serving you

The Pesaify Team
{% endtrans %}

