{% trans full_name=user.get_full_name(), url=resolve_url("pesaify-change-password-from-recovery", user.token) %}
Hello {{ full_name }}, you asked to recover your password

{{ url }}

You can ignore this message if you did not request.

---
The Pesaify Team
{% endtrans %}
