{% extends 'layout.html' %}
{% load static i18n %}
{% block title %}{% trans 'Change Password' %}{% endblock title %}

{% block extrastyles %}
{% endblock %}

{% block layout %}

<nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-light navbar-bg-color">
    <div class="navbar-wrapper">
        <div class="navbar-header d-md-none">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="fa fa-bars font-large-1"></i></a></li>
                <li class="nav-item d-md-none"><a class="navbar-brand" href="https://pesaify.com/"><img height="60px" class="d-none d-md-block" alt="logo" src="{% static 'pesaify/images/logo.png' %}"><img height="60px" class="d-sm-block d-md-none" alt="logo sm" src="{% static 'pesaify/images/logo-sm.png' %}"></a></li>
                <li class="nav-item d-md-none"><a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="la la-ellipsis-v"></i></a></li>
            </ul>
        </div>
        <div class="navbar-container">
            <div class="collapse navbar-collapse" id="navbar-mobile">
                <ul class="nav navbar-nav mr-auto float-left">
                    <li class="nav-item d-none d-md-block"><a class="navbar-brand" href="https://pesaify.com/"><img height="60px" class="d-none d-md-block" alt="logo" src="{% static 'pesaify/images/logo-sm.png' %}"><img height="60px" class="d-sm-block d-md-none" alt="logo sm" src="{% static 'pesaify/images/logo-sm.png' %}"></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
                <h3 class="content-header-title mb-0 d-inline-block ">{% trans 'Account Change Password' %}</h3>
                <div class="row breadcrumbs-top d-inline-block">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item "><a href="{% url 'pesaify-dashboard' %}">{% trans 'Dashboard' %}</a>
                            </li>
                            <li class="breadcrumb-item active ">{% trans 'Account Change Password' %}
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            {% if not request.user.dismiss_message and request.user.message %}
            <div class="alert alert-dismissable alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true" id="dismiss">&times;</button>
                {{ request.user.message|safe }}
            </div>
            {% endif %}
            <div class="row">
                <div class="col-12 col-md-5">
                    <section class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-md-12 col-12">
                                            <div class="row">
                                                <div class="col-12">
                                                    <p class="text-bold-700 text-uppercase mb-0">{% trans 'Change Password' %}</p>
                                                </div>
                                            </div>
                                            <small class="detail-error error"></small>
                                            <small class="token-error error"></small>
                                            <hr/>
                                            <form class="form-horizontal form-user-profile row mt-2" action="{% url 'users-list' %}" method="POST" id="login">
                                                {% csrf_token %}
                                                <input type="hidden" id="token" name="token" value="{{ token }}">
                                                <div class="col-12">
                                                    <fieldset class="form-label-group">
                                                        <input type="password" class="form-control" id="password" name="password" required="" autofocus="">
                                                        <label for="password">{% trans 'Password' %} *</label>
                                                        <small class="password-error error"></small>
                                                    </fieldset>
                                                </div>
                                                <div class="col-12">
                                                    <fieldset class="form-label-group">
                                                        <input type="password" class="form-control" id="confirm-password" name="confirm_password" required="" autofocus="">
                                                        <label for="confirm-password">{% trans 'Confirm password' %} *</label>
                                                        <small class="confirm-password-error error"></small>
                                                    </fieldset>
                                                </div>
                                                <div class="col-12 text-right">
                                                    <button type="submit" class="btn btn-info">{% trans 'Change' %}</button>
                                                </div>

                                                <div class="col-12">
                                                    <p class="text-left">{% trans "Try again!" %}<a href="{% url 'pesaify-forgot-password' %}" class="card-link"> {% trans 'Forgot Password' %}</a></p>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-12 col-md-7">

                </div>
            </div>
        </div>
      </div>
    </div>

    {% include "partials/footer.html" %}
{% endblock %}


{% block scripts %}
    {{ block.super }}
{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    $('#login').validate({
        url: "{% url 'users-change-password-from-recovery' %}",
        type: "POST",
        event: 'submit',
        beforeSend: function(jqXHR, setting) {
            $("#login button").html("<img src='{% static 'pesaify/images/loading.gif' %}' alt='' width='25' height='25'>");
            $("#login button").attr("disabled",true);
            $(".error").html("");
        },
        success: function(data, textStatus, jqXHR) {
            window.location = '{% url "pesaify-dashboard" %}';
        },
        error: function(jqXHR, textStatus, errorThrown) {
            $("#login button").html("{% trans 'Change' %}");
            $("#login button").removeAttr("disabled");
            $.each(jqXHR.responseJSON, function(index,value){
                if(index == "detail") {
                    $(".detail-error").html(value)
                } else {
                    result = ''
                    $(value).each(function(index,value){result= result + "<p>"+value+"</p>"});
                    $("." + index.replace(/_/g, '-') + "-error").html(result)
                }
            })
        },
    });


{% endblock %}
