{% extends 'layout.html' %}
{% load static i18n %}
{% block title %}{% trans 'Get Started' %}{% endblock title %}

{% block extrastyles %}
{% endblock %}

{% block content %}

<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-body">
            {% if not request.user.dismiss_message and request.user.message %}
            <div class="alert alert-dismissable alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true" id="dismiss">&times;</button>
                {{ request.user.message|safe }}
            </div>
            {% endif %}
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2">
                    <section class="">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-md-12 col-12">
                                            <div class="row">
                                                <div class="col-12 text-center">
                                                    <p class="text-bold-700 text-uppercase mb-0">{% trans 'Welcome to Pesaify, ' %}{{ request.user.get_full_name }}!</p>
                                                    <p class="text-bold-200 mb-0">{% trans "To get started payments, please select one option" %}</p>
                                                </div>
                                            </div>
                                            <hr/>
                                            <div class="transactions-table-tbody">
                                                <section class="card pull-up">
                                                    <a href="{% url 'pesaify-payment-tools-email' %}">
                                                        <div class="card-content">
                                                            <div class="card-body">
                                                                <div class="col-12">
                                                                    <div class="row">
                                                                        <div class="col-12 col-sm-10 py-1">
                                                                            <h4 class="text-bold-700 text-uppercase mb-0">{% trans 'Email Billing' %}</h4>
                                                                            <p class="text-bold-200 text-muted mb-0">{% trans 'Simple invoicing and billing to allow your clients to pay you using Bitcoin. ' %}</p>
                                                                        </div>
                                                                        <div class="col-12 col-sm-2 py-1">
                                                                            <img src="{% static 'pesaify/images/envelope.svg' %}" height="70px"/>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </section>

                                                <section class="card pull-up">
                                                    <a href="{% url 'pesaify-payment-tools-button' %}">
                                                        <div class="card-content">
                                                            <div class="card-body">
                                                                <div class="col-12">
                                                                    <div class="row">
                                                                        <div class="col-12 col-sm-10 py-1">
                                                                            <h4 class="text-bold-700 text-uppercase mb-0">{% trans 'Donate Buttons' %}</h4>
                                                                            <p class="text-bold-200 text-muted mb-0">{% trans ' Add Pay with Pesaify buttons to your website to allow your customers to make payments using Bitcoin. ' %}</p>
                                                                        </div>
                                                                        <div class="col-12 col-sm-2 py-1">
                                                                            <img src="{% static 'pesaify/images/payment-buttons.svg' %}" height="70px"/>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </section>

                                                <section class="card pull-up">
                                                    <a href="{% url 'pesaify-payment-tools-web-checkout' %}">
                                                        <div class="card-content">
                                                            <div class="card-body">
                                                                <div class="col-12">
                                                                    <div class="row">
                                                                        <div class="col-12 col-sm-10 py-1">
                                                                            <h4 class="text-bold-700 text-uppercase mb-0">{% trans ' Quick Checkout for Web ' %}</h4>
                                                                            <p class="text-bold-200 text-muted mb-0">{% trans 'Quickly generate an invoice through a web interface.' %}</p>
                                                                        </div>
                                                                        <div class="col-12 col-sm-2 py-1">
                                                                            <img src="{% static 'pesaify/images/qr-code.svg' %}" height="70px"/>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </section>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
      </div>
    </div>

{% endblock %}


{% block scripts %}
    {{ block.super }}
{% endblock %}

{% block onbodyload %}
    {{ block.super }}

{% endblock %}
