{% extends 'layout.html' %}
{% load static i18n %}
{% block title %}{% trans 'Login' %}{% endblock title %}

{% block extrastyles %}
{% endblock %}

{% block layout %}

<nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-light navbar-bg-color">
    <div class="navbar-wrapper">
        <div class="navbar-header d-md-none">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="fa fa-menu font-large-1"></i></a></li>
                <li class="nav-item d-md-none"><a class="navbar-brand" href="https://pesaify.com/"><img height="60px" class="d-none d-md-block" alt="logo" src="{% static 'pesaify/images/logo.png' %}"><img height="60px" class="d-sm-block d-md-none" alt="logo sm" src="{% static 'pesaify/images/logo-sm.png' %}"></a></li>
                <li class="nav-item d-md-none"><a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="la la-ellipsis-v"></i></a></li>
            </ul>
        </div>
        <div class="navbar-container">
            <div class="collapse navbar-collapse" id="navbar-mobile">
                <ul class="nav navbar-nav mr-auto float-left">
                    <li class="nav-item d-none d-md-block"><a class="navbar-brand" href="https://pesaify.com/"><img height="60px" class="d-none d-md-block" alt="logo" src="{% static 'pesaify/images/logo-sm.png' %}"><img height="60px" class="d-sm-block d-md-none" alt="logo sm" src="{% static 'pesaify/images/logo-sm.png' %}"></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
                <h3 class="content-header-title mb-0 d-inline-block">{% trans 'Business Login' %}</h3>
                <div class="row breadcrumbs-top d-inline-block">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="https://pesaify.com/">{% trans 'Home' %}</a>
                            </li>
                            <li class="breadcrumb-item active">{% trans 'Login' %}
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            {% if not request.user.dismiss_message and request.user.message %}
            <div class="alert alert-dismissable alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true" id="dismiss">&times;</button>
                {{ request.user.message|safe }}
            </div>
            {% endif %}
            <div class="row">
                <div class="col-12 col-md-6">
                    <section class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-md-12 col-12">
                                            <div class="row">
                                                <div class="col-12 col-md-4">
                                                    <p class="text-bold-700 text-uppercase mb-0">{% trans 'Login' %}</p>
                                                </div>
                                            </div>

                                            {% if wizard.steps.current == 'auth' %}
                                              <p>{% blocktrans %}Enter your credentials.{% endblocktrans %}</p>
                                            {% elif wizard.steps.current == 'token' %}
                                                <p>{% blocktrans %}Please enter the tokens generated by your token
                                                  generator.{% endblocktrans %}</p>
                                            {% elif wizard.steps.current == 'backup' %}
                                              <p>{% blocktrans %}Use this form for entering backup tokens for logging in.
                                                These tokens have been generated for you to print and keep safe. Please
                                                enter one of these backup tokens to login to your account.{% endblocktrans %}</p>
                                            {% endif %}

                                            <form action="" method="post">{% csrf_token %}
                                              <div class="col-12">
                                                {% include "two_factor/_wizard_forms.html" %}
                                                <small class="pull-right"><a href="{% url 'pesaify-forgot-password' %}">{% trans 'Forgot Password' %}</a></small>
                                              </div>

                                              {# hidden submit button to enable [enter] key #}
                                              <div style="margin-left: -9999px"><input type="submit" value=""/></div>

                                              {% if backup_tokens %}
                                              <div class="col-12">
                                                <p>{% trans "As a last resort, you can use a backup token:" %}</p>
                                                <p>
                                                  <button name="wizard_goto_step" type="submit" value="backup"
                                                          class="btn btn-default btn-block">{% trans "Use Backup Token" %}</button>
                                                </p>
                                              </div>
                                              {% endif %}

                                              <div class="col-12">
                                                {% include "two_factor/_wizard_actions.html" %}
                                              </div>

                                              <div class="col-12 mt-2">
                                                  <p class="text-left">{% trans "I don't have an account.!" %}<a href="{% url 'pesaify-signup' %}" class="card-link"> {% trans 'Create Account' %}</a></p>
                                              </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-12 col-md-6">

                </div>
            </div>
        </div>
      </div>
    </div>

    {% include "partials/footer.html" %}
{% endblock %}
